version: 0.0.14
services:
  currency-internal:
    host: http://localhost:6321
    operations:
      - GET /internal/currency/rates/:organization
      - GET /internal/currency/settings/:organization
      - PUT /internal/currency/settings/:organization
      - GET /internal/currency/settings/versions
      - GET /internal/currency/settings
  fulfillment-internal:
    host: http://localhost:6061
    operations:
      - DELETE /carriers/:id
      - PUT /carriers/:id
      - GET /carriers/versions
      - POST /carriers
      - DELETE /services/:id
      - PUT /services/:id
      - GET /services/versions
      - POST /services
  ratecard:
    host: http://localhost:7021
    operations:
      - GET /:organization/ratecard_estimates
      - PUT /:organization/ratecards/:id/publish
      - GET /:organization/ratecards/:id
      - GET /:organization/ratecards/:ratecard_id/lanes/:id
      - PUT /:organization/ratecards/:ratecard_id/lanes/:id
      - GET /:organization/ratecards/:ratecard_id/lanes/:lane_id/rates/:id
      - PUT /:organization/ratecards/:ratecard_id/lanes/:lane_id/rates/:id
      - GET /:organization/ratecards/:ratecard_id/lanes/:lane_id/rates/versions
      - GET /:organization/ratecards/:ratecard_id/lanes/:lane_id/rates
      - POST /:organization/ratecards/:ratecard_id/lanes/:lane_id/rates
      - GET /:organization/ratecards/:ratecard_id/lanes/versions
      - GET /:organization/ratecards/:ratecard_id/lanes
      - POST /:organization/ratecards/:ratecard_id/lanes
      - GET /:organization/ratecards/versions
      - GET /:organization/ratecards
      - POST /:organization/ratecards
