version: 0.0.10
services:
  currency-internal:
    host: https://currency.api.flow.io
    operations:
      - GET /internal/currency/settings/:organization
      - PUT /internal/currency/settings/:organization
      - GET /internal/currency/settings/versions
      - GET /internal/currency/settings
  webhook:
    host: https://webhook.api.flow.io
    operations:
      - POST /:organization/webhook/requests/:id/redeliveries
      - GET /:organization/webhook/requests/:id
      - GET /:organization/webhook/requests
      - DELETE /:organization/webhooks/:id
      - GET /:organization/webhooks/:id
      - GET /:organization/webhooks
      - POST /:organization/webhooks
