version: 0.0.10
services:
  currency-internal:
    host: https://currency.api.flow.io
    operations:
      - GET /internal/currency/rates/:organization
      - GET /internal/currency/settings/:organization
      - PUT /internal/currency/settings/:organization
      - GET /internal/currency/settings/versions
      - GET /internal/currency/settings
