version: 0.0.12
services:
  currency-internal:
    host: http://172.17.0.1:6321
    operations:
      - GET /internal/currency/rates/:organization
      - GET /internal/currency/settings/:organization
      - PUT /internal/currency/settings/:organization
      - GET /internal/currency/settings/versions
      - GET /internal/currency/settings
