version: 0.0.10
services:
  currency-internal:
    host: http://172.17.0.1:6321
    operations:
      - GET /internal/currency/settings/:organization
      - PUT /internal/currency/settings/:organization
      - GET /internal/currency/settings/versions
      - GET /internal/currency/settings
  webhook:
    host: http://172.17.0.1:7011
    operations:
      - POST /:organization/webhook/requests/:id/redeliveries
      - GET /:organization/webhook/requests/:id
      - GET /:organization/webhook/requests
      - DELETE /:organization/webhooks/:id
      - GET /:organization/webhooks/:id
      - GET /:organization/webhooks
      - POST /:organization/webhooks
