version: 0.1.17
services:
  catalog:
    host: https://catalog.api.flow.io
    operations:
      - DELETE /:organization/attributes/:key
      - GET /:organization/attributes/:key
      - PUT /:organization/attributes/:key
      - GET /:organization/attributes/versions
      - GET /:organization/attributes
      - POST /:organization/attributes
      - DELETE /:organization/catalog/items/:number
      - GET /:organization/catalog/items/:number
      - PUT /:organization/catalog/items/:number
      - GET /:organization/catalog/items/versions
      - GET /:organization/catalog/items
      - POST /:organization/catalog/items
      - GET /:organization/catalog/statistics
      - GET /:organization/catalog/subcatalogs/:id/settings
      - PUT /:organization/catalog/subcatalogs/:id/settings
      - DELETE /:organization/catalog/subcatalogs/:id
      - GET /:organization/catalog/subcatalogs/:id
      - PUT /:organization/catalog/subcatalogs/:id
      - DELETE /:organization/catalog/subcatalogs/:subcatalog_id/exclusions/:number
      - GET /:organization/catalog/subcatalogs/:subcatalog_id/exclusions/:number
      - PUT /:organization/catalog/subcatalogs/:subcatalog_id/exclusions/:number
      - GET /:organization/catalog/subcatalogs/:subcatalog_id/exclusions
      - DELETE /:organization/catalog/subcatalogs/:subcatalog_id/functions/:id
      - GET /:organization/catalog/subcatalogs/:subcatalog_id/functions/:id
      - GET /:organization/catalog/subcatalogs/:subcatalog_id/functions/versions
      - GET /:organization/catalog/subcatalogs/:subcatalog_id/functions
      - POST /:organization/catalog/subcatalogs/:subcatalog_id/functions
      - DELETE /:organization/catalog/subcatalogs/:subcatalog_id/inclusions/:number
      - GET /:organization/catalog/subcatalogs/:subcatalog_id/inclusions/:number
      - PUT /:organization/catalog/subcatalogs/:subcatalog_id/inclusions/:number
      - GET /:organization/catalog/subcatalogs/:subcatalog_id/inclusions
      - GET /:organization/catalog/subcatalogs/:subcatalog_id/items/:number
      - GET /:organization/catalog/subcatalogs/:subcatalog_id/items/versions
      - GET /:organization/catalog/subcatalogs/:subcatalog_id/items
      - DELETE /:organization/catalog/subcatalogs/:subcatalog_id/queries/:id
      - GET /:organization/catalog/subcatalogs/:subcatalog_id/queries/:id
      - GET /:organization/catalog/subcatalogs/:subcatalog_id/queries
      - POST /:organization/catalog/subcatalogs/:subcatalog_id/queries
      - GET /:organization/catalog/subcatalogs/:subcatalog_id/statistics
      - GET /:organization/catalog/subcatalogs/versions
      - GET /:organization/catalog/subcatalogs
      - POST /:organization/catalog/subcatalogs
      - GET /:organization/catalog
      - DELETE /:organization/item-functions/:key
      - GET /:organization/item-functions/:key
      - PUT /:organization/item-functions/:key
      - GET /:organization/item-functions/versions
      - GET /:organization/item-functions
      - POST /:organization/item-functions
  currency:
    host: https://currency.api.flow.io
    operations:
      - GET /:organization/currency/rates/versions
      - GET /:organization/currency/rates
      - POST /:organization/currency/rates
      - PUT /:organization/currency/rates
      - GET /:organization/currency/settings/versions
      - GET /:organization/currency/settings
      - POST /:organization/currency/settings
      - PUT /:organization/currency/settings
      - GET /currency/spot-rates/versions
      - GET /currency/spot-rates
  experience:
    host: https://experience.api.flow.io
    operations:
      - GET /:organization/experiences/:key/items/:number/price
      - DELETE /:organization/experiences/:key/margins/:id
      - GET /:organization/experiences/:key/margins/:id
      - PUT /:organization/experiences/:key/margins/:id
      - GET /:organization/experiences/:key/margins/versions
      - GET /:organization/experiences/:key/margins
      - POST /:organization/experiences/:key/margins
      - GET /:organization/experiences/:key/pricing
      - PUT /:organization/experiences/:key/pricing
      - DELETE /:organization/experiences/:key
      - GET /:organization/experiences/:key
      - PUT /:organization/experiences/:key
      - GET /:organization/experiences/items/:number
      - GET /:organization/experiences/items
      - GET /:organization/experiences/versions
      - GET /:organization/experiences
      - POST /:organization/experiences
      - PUT /:organization/orders/:number/bookings
      - DELETE /:organization/orders/:number
      - GET /:organization/orders/:number
      - PUT /:organization/orders/:number
      - GET /:organization/orders/versions
      - GET /:organization/orders
      - POST /:organization/orders
  fulfillment:
    host: https://fulfillment.api.flow.io
    operations:
      - GET /:organization/centers/:key
      - PUT /:organization/centers/:key
      - GET /:organization/centers/versions
      - GET /:organization/centers
      - POST /:organization/centers
      - GET /:organization/quotes/:id
      - GET /:organization/quotes/versions
      - GET /:organization/quotes
      - POST /:organization/quotes
      - GET /:organization/tier_defaults/:id
      - GET /:organization/tier_defaults/versions
      - GET /:organization/tier_defaults
      - POST /:organization/tier_defaults
      - DELETE /:organization/tiers/:id
      - GET /:organization/tiers/:id
      - PUT /:organization/tiers/:id
      - DELETE /:organization/tiers/:tier_id/rules/:id
      - GET /:organization/tiers/:tier_id/rules/:id
      - PUT /:organization/tiers/:tier_id/rules/:id
      - GET /:organization/tiers/:tier_id/rules/versions
      - GET /:organization/tiers/:tier_id/rules
      - POST /:organization/tiers/:tier_id/rules
      - GET /:organization/tiers/versions
      - GET /:organization/tiers
      - POST /:organization/tiers
      - GET /carriers/:id
      - GET /carriers
      - GET /services/:id
      - GET /services
  harmonization:
    host: https://harmonization.api.flow.io
    operations:
      - GET /:organization/harmonization/categories
      - GET /:organization/harmonization/duties/:origin
      - GET /:organization/harmonization/hs10/versions
      - GET /:organization/harmonization/hs10
      - GET /:organization/harmonization/hs6/versions
      - GET /:organization/harmonization/hs6
      - DELETE /:organization/harmonization/item-duties/:id
      - GET /:organization/harmonization/item-duties/:id
      - GET /:organization/harmonization/item-duties/versions
      - GET /:organization/harmonization/item-duties
      - POST /:organization/harmonization/item-duties
      - DELETE /:organization/harmonization/items/:number
      - GET /:organization/harmonization/items/:number
      - PUT /:organization/harmonization/items/:number
      - GET /:organization/harmonization/items/versions
      - GET /:organization/harmonization/items
      - POST /:organization/harmonization/items
      - POST /:organization/harmonization/landed-costs
      - GET /:organization/harmonization/settings
      - PUT /:organization/harmonization/settings
      - GET /:organization/harmonization/taxes
  inventory:
    host: https://inventory.api.flow.io
    operations:
      - GET /:organization/inventory_rules/versions
      - GET /:organization/inventory_rules
      - POST /:organization/inventory_rules
      - GET /:organization/inventory_snapshots/:id
      - GET /:organization/inventory_snapshots/versions
      - GET /:organization/inventory_snapshots
      - GET /:organization/inventory_updates/:id
      - GET /:organization/inventory_updates/versions
      - GET /:organization/inventory_updates
      - POST /:organization/inventory_updates
  label:
    host: https://label.api.flow.io
    operations:
      - GET /:organization/shipping_label/:id
      - GET /:organization/shipping_label/versions
      - GET /:organization/shipping_label
      - POST /:organization/shipping_label
  location:
    host: https://location.api.flow.io
    operations:
      - GET /addresses
      - GET /geolocation/defaults/:country
      - GET /geolocation/defaults
      - GET /geolocation/timezones
  organization:
    host: https://organization.api.flow.io
    operations:
      - DELETE /invitations/:id
      - GET /invitations/:id
      - GET /invitations/tokens/:token
      - PUT /invitations/tokens/:token
      - GET /invitations/versions
      - GET /invitations
      - POST /invitations
      - DELETE /memberships/:id
      - GET /memberships/:id
      - PUT /memberships/:id
      - GET /memberships/versions
      - GET /memberships
      - POST /memberships
      - GET /organization-authorizations/:organization
      - DELETE /organizations/:id
      - GET /organizations/:id
      - PUT /organizations/:id
      - GET /organizations/versions
      - GET /organizations
      - POST /organizations
  payment:
    host: https://payment.api.flow.io
    operations:
      - DELETE /:organization/authorizations/:key
      - GET /:organization/authorizations/:key
      - GET /:organization/authorizations/versions
      - GET /:organization/authorizations
      - POST /:organization/authorizations
      - GET /:organization/captures/:key
      - GET /:organization/captures/versions
      - GET /:organization/captures
      - POST /:organization/captures
      - POST /:organization/cards/:token/updates
      - DELETE /:organization/cards/:token
      - GET /:organization/cards/:token
      - GET /:organization/cards/versions
      - GET /:organization/cards
      - POST /:organization/cards
      - GET /:organization/refunds/:key
      - GET /:organization/refunds/versions
      - GET /:organization/refunds
      - POST /:organization/refunds
  reference:
    host: https://reference.api.flow.io
    operations:
      - GET /reference/countries
      - GET /reference/currencies
      - GET /reference/languages
      - GET /reference/regions/:id
      - GET /reference/regions
      - GET /reference/timezones
  search:
    host: https://search.api.flow.io
    operations:
      - GET /:organization/search/catalog
      - GET /:organization/search/harmonization
      - GET /:organization/suggestion/catalog
      - GET /:organization/suggestion/harmonization
  token:
    host: https://token.api.flow.io
    operations:
      - POST /token-validations
      - GET /tokens/:id/cleartext
      - DELETE /tokens/:id
      - GET /tokens/:id
      - POST /tokens/authentications
      - GET /tokens/versions
      - GET /tokens
      - POST /tokens
  tracking:
    host: https://tracking.api.flow.io
    operations:
      - GET /:organization/label_events/:id
      - GET /:organization/label_events/versions
      - GET /:organization/label_events
      - GET /:organization/labels/:id
      - GET /:organization/labels/versions
      - GET /:organization/labels
      - POST /:organization/labels
      - GET /:organization/trackings/:id
      - GET /:organization/trackings/versions
      - GET /:organization/trackings
      - POST /:organization/trackings
  user:
    host: https://user.api.flow.io
    operations:
      - DELETE /users/:id/passwords
      - PATCH /users/:id/passwords
      - GET /users/:id
      - PUT /users/:id
      - POST /users/authenticate
      - POST /users/emails/verifications/:token
      - POST /users/passwords/resets
      - POST /users/passwords
      - GET /users/versions
      - GET /users
      - POST /users
  webhook:
    host: https://webhook.api.flow.io
    operations:
      - POST /:organization/webhook/requests/:id/redeliveries
      - GET /:organization/webhook/requests/:id
      - GET /:organization/webhook/requests
      - DELETE /:organization/webhooks/:id
      - GET /:organization/webhooks/:id
      - PUT /:organization/webhooks/:id
      - GET /:organization/webhooks
      - POST /:organization/webhooks
